# Ignore node_modules directory
node_modules/

# Ignore cypress e2e examples
1-getting-started/
2-advanced-examples/

# Ignore support
screenshots/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore environment-specific files
.env

# Ignore build artifacts
build/
dist/
coverage/

# Ignore package-lock.json for projects using npm
package-lock.json
package.json

# Ignore yarn.lock for projects using yarn
yarn.lock
